.HeaderSection {
    background-color: #1a1a1a;
    color: white;
    padding: 2rem;
}

.header {
    margin-bottom: 5%;
}

main {
    text-align: left; /* Add this line to align all main content to the left */
}

main h1 {
    font-size: 2.5rem;
    margin-left: 15%;
    margin-bottom: 0%;
}

.name {
    font-size: 7rem;
    background-image: linear-gradient(to right, #00ff9d, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 1.25rem;
    text-align: left;
    margin-left: 15%;
    border: none;
    margin-top: 1%;
}

#github-button {
    background-image: linear-gradient(to right, #4dd5a1, #4fc4c4);
    color: black;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 15%; /* This aligns the button with h1 and .name */
    display: inline-block; /* Add this to prevent full-width behavior */
    margin-top: 3%;
}