.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -5px;
}

.letter {
    position: relative;
    color: #fff;
}

.top-nav {
    height: 0.25rem;
    width: 100%;
    background:linear-gradient(to right, #00ff9d, #00ffff);
    margin-top: 0;
}