nav ul {
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin-left: 50%;
}

nav ul li {
    margin-left: 1.25rem;
    cursor: pointer;
}   

#nav-button {
    background-color: black;
    font-size: 1.03rem;
    border: none;
    color: white;
    cursor: pointer;
}

.top-nav {
    height: 0.25rem;
    width: 100%;
    background:linear-gradient(to right, #00ff9d, #00ffff);
}

body, html {
    margin: 0;
    padding: 0;
}